= render 'shared/default-header'
.default-main
  %section.signup-container
    %h2
      新規会員登録
    .inner.signup-container__inner
      .content
        %a.mail-signup.default-btn
          %i.fa.fa-envelope
          メールアドレスで登録
        %button.default-btn.facebook
          %i.fa.fa-facebook-official
          Facebookで登録
        %button.default-btn.google
          %i.fa.fa-google-plus
          Googleで登録
= render 'shared/default-footer'
