.app__barnner
  .app__barnner--pc
    .app__barnner--pc__left-side
      .app__barnner--pc__left-side__text
        %h2
          スマホでかんたんフリマアプリ
        %p.app__barnner--pc__left-side__text--strong
          今すぐ無料ダウンロード！
      .app__barnner--pc__left-side__buttons
        %img.mercari-icon.float-left{src: "/images/mercari_box.png"}
        %ul.float-left
          %li.app-store
            %a{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8", target: "_blank"}
              %img{src: "/images/apple-store-badge.svg"}
          %li.google-play
            %a{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja", target: "_blank"}
              %img{src: "/images/google-play-badge.png"}
    %img.app__barnner--pc__right-side{src: "/images/app_right.png"}
