.default-footer
  %nav
    %ul
      %li
        %a
          プライバシーポリシー
      %li
        %a
          フリーマーケット利用規約
      %li
        %a
          特定商取引に関する表記
  %a
    %img{src: "/images/logo-gray.svg"}
  %p
    %small &copy; 2019 Freemarket
