.header
  .header__inner
    .header__search
      %img.header__search__icon{src: "/images/mercari_logo.png"}
      %form
        %i.fa.fa-search
        %input.header__search__input{value: "キーワードから探す"}
    .header__nav
      .header__nav__left-side
        %a.link-category
          カテゴリーから探す
        %a.link-brand
          ブランドから探す
      .header__nav__right-side
        %a.header__nav__right-side__sign-in.float-right.button
          ログイン
        %a.header__nav__right-side__sign-up.float-right.button
          新規会員登録
