.clearfix
  .clearfix__container
    .container__notification
      %img{class: "background"}
      %img{class: "icon"}
      %p momo
      %p 評価　35
      %p 出品数　50
      %ul.notification__notice お知らせ
        %li.list
        %li.list
        %li.list
      %ul.notification__todolist やることリスト
        %li.t-list
        %li.t-list
        %li.t-list
      %button{type: "submit", class: "btn"} 一覧を見る

.clearfix
  .clearfix__content
    .content__soldproduct 購入した商品
      %ul.soldproduct__doinglist 取引中
        %li.ing-list
        %li.ing-list
        %li.ing-list
      %ul.soldproduct__donelist 過去の取引
        %li.done-list
        %li.done-list
        %li.done-list
