.side
  .side__inner
    %ul
      %li
        %a{href: ""} マイページ
        .contents &#62;
      %li
        %a{href: ""} お知らせ
        .contents &#62;
      %li
        %a{href: ""} やることリスト
        .contents &#62;
      %li
        %a{href: ""} いいね！一覧
        .contents &#62;
      %li
        %a{href: ""} 出品する
        .contents &#62;
      %li
        %a{href: ""} 出品した商品 - 出品中
        .contents &#62;
      %li
        %a{href: ""} 出品した商品 - 取引中
        .contents &#62;
      %li
        %a{href: ""} 出品した商品 - 売却済み
        .contents &#62;
      %li
        %a{href: ""} 購入した商品 - 取引中
        .contents &#62;
      %li
        %a{href: ""} 購入した商品 - 過去の取引
        .contents &#62;
      %li
        %a{href: ""} ニュース一覧
        .contents &#62;
      %li
        %a{href: ""} 評価一覧
        .contents &#62;
      %li
        %a{href: ""} ガイド
        .contents &#62;
      %li
        %a{href: ""} お問い合わせ
        .contents &#62;
    %h3 売上・ポイント
    %ul
      %li
        %a{href: ""} 売上・振込申請
      %li
        %a{href: ""} ポイント
    %h3 設定
    %ul
      %li
        %a{href: ""} プロフィール
      %li
        %a{href: ""} 住所変更
      %li
        %a{href: ""} 支払い方法
      %li
        %a{href: ""} メール/パスワード
      %li
        %a{href: ""} 本人情報
      %li
        %a{href: ""} 電話番号の確認
      %li
        %a{href: ""} ログアウト
