.side
  .side__inner
    .box
      %ul
        %li
          %a{href: ""} マイページ
          .icon-arrow-right
        %li
          %a{href: ""} お知らせ
          .icon-arrow-right
        %li
          %a{href: ""} やることリスト
          .icon-arrow-right
        %li
          %a{href: ""} いいね！一覧
          .icon-arrow-right
        %li
          %a{href: ""} 出品する
          .icon-arrow-right
        %li
          %a{href: ""} 出品した商品 - 出品中
          .icon-arrow-right
        %li
          %a{href: ""} 出品した商品 - 取引中
          .icon-arrow-right
        %li
          %a{href: ""} 出品した商品 - 売却済み
          .icon-arrow-right
        %li
          %a{href: ""} 購入した商品 - 取引中
          .icon-arrow-right
        %li
          %a{href: ""} 購入した商品 - 過去の取引
          .icon-arrow-right
        %li
          %a{href: ""} ニュース一覧
          .icon-arrow-right
        %li
          %a{href: ""} 評価一覧
          .icon-arrow-right
        %li
          %a{href: ""} ガイド
          .icon-arrow-right
        %li
          %a{href: ""} お問い合わせ
          .icon-arrow-right
        %h3 売上・ポイント
        %ul
          %li
            %a{href: ""} 売上・振込申請
            .icon-arrow-right
          %li
            %a{href: ""} ポイント
            .icon-arrow-right
        %h3 設定
        %ul
          %li
            %a{href: ""} プロフィール
            .icon-arrow-right
          %li
            %a{href: ""} 住所変更
            .icon-arrow-right
          %li
            %a{href: ""} 支払い方法
            .icon-arrow-right
          %li
            %a{href: ""} メール/パスワード
            .icon-arrow-right
          %li
            %a{href: ""} 本人情報
            .icon-arrow-right
          %li
            %a{href: ""} 電話番号の確認
            .icon-arrow-right
          %li
            %a{href: ""} ログアウト
            .icon-arrow-right
