.item
  %img.item__image{src: "https://2.bp.blogspot.com/-EE4QRVUP4qk/UYiN0vlatdI/AAAAAAAARTg/jT9Osjamz0M/s800/cloth_pants.png"}
  .item__body
    %h3.item__body__text
      NIKE ジョガーパンツ
    .item__body__status
      .item__body__status__price
        ￥7,000
      .item__body__status__tax
        (税込)
      .item__body__status__like
        &#9825; 19
