%ul.fotter_attention
  %li
    =link_to "#" do
      プライバシーポリシー
  %li
    =link_to "#" do
      メルカリ利用規約
  %li
    =link_to "#" do
      特定商取引に関する表記
%a.single-footer-logo
  = link_to root_path do
    = image_tag('logo-gray.svg', size: '80x65',alt:'mercari')
%p.single-footer-copyright
  © 2019 Mercari
