.buy-item-contents {
  margin: 24px 0;
  padding: 0 40px;
  .item-edit-buttons {
    background: #fff;
    padding: 8px 16px;
    a {
      margin: 16px 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;      
    }
    p {
      font-size: 16px;
      text-align: center;
    }
    input {
      border: 0;
      outline: 0;
      font-family: inherit;
      -webkit-appearance: none;
    }
    .button-gray {
      margin: 16px 0;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
    }
    .btn-default {
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
      color: #fff;
    }
  }
} 