* {
  padding: 0;
  margin: 0;
}

header.single-header {
  height: 128px;
  text-align: center;
  background-color: #f5f5f5;
  line-height: 155px;
}

.l-single-container {
  background: #f5f5f5;
}

.sell-container {
  background: white;
  width: 700px;
  margin: 0 auto;
}

.sell-container-inner {
  border-bottom: solid thin lightgray;
  height: 97px;
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.sell{
  &-contents{
    max-width: 700px;
    padding:40px;
    background: white;
    margin:0 auto;
    border-bottom: solid thin lightgray;
    @include clearfix;
    &-label{
      color:gray;
      font-size: 14px;
      font-weight:bold;
      float:left;
    }
    &__caution{
      font-size: 14px;
      line-height: 1.5;
      &-space{
        height:40px;
      }
    }
    &__comment{
      font-size: 12px;
      margin-top: 15px;
    }
    &-brand{
      padding:16px 8px;
      width:100%;
      font-size: 14px;
      &:hover{
        background-color: #b3d4fc;
        color:white;
        text-shadow:none;
      }
    }
  }
&-form{
    border:thin solid lightgray;
    @include clearfix;
    &-box{
      margin-top:40px;
      width: 400px;
      float:right;
    }
    &-title{
      font-size:16px;
      font-weight: bold;
    }
    &-sub_title{
      font-weight: bold;
      font-size:14px;
      &-price{
        font-size:14px;
        margin:13px 0;
        font-weight: bold;
      }
    }
    &-price{
      @include clearfix;
      height:90px;
      border-bottom:thin solid lightgray;
      &_left{
        float:left;
        padding-top:20px;
        width:100px;
      }
      &_right{
        float:right;
      }
      &-fee{
        height:40px;
        @include clearfix;
        border-bottom:thin solid lightgray;
        &-text{
          float:left;
          font-size:12px;
        }
        &-num{
          float:right;
        }
      }
      &-gains{
          height:40px;
          @include clearfix;
          font-weight: bold;
          font-size: 16px;
          margin-top: 20px;
        &-text{
          float:left;
        }
        &-num{
          float:right;
        }
      }
    }
  }
  &-dropbox{
    &_container{
      margin-top: 16px;
      height:162px;
      width:103%;
      float:left;
    }
    &-items{
      height:100%;
      float: left;
      // width:646px;
      // background: white;
      // border-right: thin dashed gray;
      @include clearfix;
      &_container{
        height:100%;
        width:140px;
        text-align: center;
        background: lightgray;
        border:thin dashed gray;
        float:left;
        position:relative;
        margin-right: 14px;
      }
      &-figure{
        height:70%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-btn{
        height:30%;
        padding-top: 16px;
        width:50%;
        border: thin solid gray;
        color:lightblue;
        float:left;
      }
    }
    &-uploader{
        height:100%;
      &_container{
        .visible-pc{
          width:100%;
          text-align: center;
          height: 100px;
          padding:25px 0;
          background: Lightgray;
          border:thin dashed Gray;
          font-size: 14px;
        }
      }
    }
  }
}

.hidden {
  visibility: hidden;
}

h2.l-single-head{
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  width: 100%;
  height: 97px;
}

h3.sell-sub-head {
  float: left;
  width: 150px;
  color: gray;
  font-size: 14px;
}

.form-require {
  background: #ea352d;
  color: white;
}

span.form-require.sell{
  display: inline-block;
  font-size:12px;
  font-weight: bold;

}
.btn__red:hover{
  text-decoration: none;
}

.btn__red{
  border: 1px solid #ea352d;
  display: block;
  width: 620px;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  background-color: #e62017;
  color: #fff;
  margin: 0 auto;
}

.btn.btn__gray{
  border: 1px solid #aaa;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  display: block;
  width: 310px;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}

a.text-blue{
  color: blue;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .l-single-container{
    width: 700px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .l-single-head {
    padding: 32px 16px;
    font-size: 22px;
  }
}

input.sell-form-text_field{
  border-radius: 5px;
  border: thin solid gray;
  margin-top:8px;
  width: 100%;
  height: 40px;
  &:focus{
    border-color:lightblue;
    outline: 0;
  }
}

input[type="number"].sell-form-text_number{
  @extend input.sell-form-text_field;
  width:160px;
  text-align: right;
  &::-webkit-outer-spin-button,&::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }
}

textarea.sell-form-text_area{
  @extend input.sell-form-text_field;
  border-radius:none;
  padding:10px;
  height:120px;
  width:100%;
}

.sell-form-select select{
  @extend input.sell-form-text_field;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding:0 16px ;
  width:100%;
  height:46px;
}
.form-arbitrary.sell{
  @extend .form-require;
  background: gray;
  border-color: gray;
}
@media screen and (max-width: 700px) {
  .sell-dropbox-items_container{
    width:60px;
  }
}

footer.single-footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 150px;
    padding: 40px 0;
    text-align: center;
    background-color: #f5f5f5;
    width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.attention {
  width: 133px;
  height: 68px;
  margin-right: 0;
  display: inline-block;
  font-size: 12px;
}

p.single-footer-copyright {
  font-size: small;
}

.sell-dropbox-items-btn.sell-image_edit {
  width: 50px;
  height: 30px
}

.sell-dropbox-items-btn.sell-image_delete {
  width: 50px;
  height: 30px
}

.sell-dropbox-items-figure
img {
  width: 125px;
  height: 110px
}

