//共通で使えるスタイル
.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}
.input-default {
  height: 28px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
